.split-vertical {
  height: 400px;
  display: flex;
  flex-direction: row;
}

.split-vertical textarea {
  flex: 1 1 0;
  height: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  resize: none;

  margin: 0.25rem;
}

.settings {
  padding-bottom: 0.5rem;
}

label {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

button {
  margin-left: 0.25rem;
  margin-top: 0.5rem;
}